In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy as sp
import ipywidgets as iw

In [10]:
data_path = "datasets/interactive_data.csv"

In [11]:
data = pd.read_csv(data_path)

In [18]:
data

,Unnamed: 0,Intent,Gender,Age,Race,Deaths,Population,Rate
0,1,None selected,None selected,None selected,None selected,33599,316299978,10.6
1,2,None selected,None selected,None selected,White,22079,197369634,11.2
2,3,None selected,None selected,None selected,Black,7765,38896382,20.0
3,4,None selected,None selected,None selected,Hispanic,3007,54049078,5.6
4,5,None selected,None selected,None selected,Asian/Pacific Islander,442,16315561,2.7
...,...,...,...,...,...,...,...,...
535,536,Unknown,Male,5,White,0,0,NaN
536,537,Unknown,Male,5,Black,0,0,NaN
537,538,Unknown,Male,5,Hispanic,0,0,NaN
538,539,Unknown,Male,5,Asian/Pacific Islander,0,0,NaN
539,540,Unknown,Male,5,Other,0,0,NaN

In [19]:
data.value_counts()

Unnamed: 0  Intent         Gender         Age            Race           Deaths  Population  Rate
1           None selected  None selected  None selected  None selected  33599   316299978   10.6    1
345         Accident       None selected  35 - 64        Black          24      14848291    0.2     1
363         Accident       Female         None selected  Black          11      20362385    0.1     1
362         Accident       Female         None selected  White          55      100162288   0.1     1
361         Accident       Female         None selected  None selected  73      160668110   0.0     1
                                                                                                   ..
166         Suicide        Female         35 - 64        Hispanic       52      8863203     0.6     1
165         Suicide        Female         35 - 64        Black          65      7932606     0.8     1
164         Suicide        Female         35 - 64        White          1630    41284839    3.9     1
163         Suicide        Female         35 - 64        None selected  1773    63125058    2.8     1
534         Unknown        Male           65+            Other          0       255719      0.0     1
Length: 468, dtype: int64

In [27]:
race_set = set(data["Race"])
gender_set = set(data["Gender"])
intent_set = set(data["Intent"])
age_set = set(data["Age"])


print(race_set)
print(gender_set)
print(intent_set)
print(age_set)

{'None selected', 'Hispanic', 'Other', 'Asian/Pacific Islander', 'White', 'Black'}
{'None selected', 'Male', 'Female'}
{'None selected', 'Suicide', 'Homicide', 'Unknown', 'Accident'}
{'None selected', '15 - 34', '5', 'Under 15', '35 - 64', '65+'}

In [28]:
def get_data(intent="None selected",gender="None selected",race="None selected", age="None selected"):
    return(data[ (data["Intent"]==intent) & (data["Gender"]==gender) &  (data["Race"]==race) & (data["Age"]==age)])

In [32]:
all_deaths = get_data()

36    4816
Name: Deaths, dtype: int64